<div class="container">
    <div class="row">
        <div class="col-md-4">
            <% if @user_checked.avatar? %>
                <%= image_tag @user_checked.avatar.url, class: "img-responsive center-block" %>  
            <% else %>
                <%= image_tag 'default_avatar.png', class: "img-responsive center-block" %>  
            <% end %>
            
        </div>
        <div class="col-md-8">
            <ul class="list-unstyled">
                <li><h1><%= @user_checked.name %></h1></li>
                <li><h5><%= @user_checked.email %></h5></li>
                <li><h5><%= @user_checked.description %></h5></li>
            </ul>
            <% if current_user == @user_checked %>
                <%= link_to "Edit profile", edit_user_path(@user_checked.id), class: "btn btn-primary" %>
            <% end %>            
            
        </div>
    </div>
    <br>

    <div class="col-md-4">
        <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th> <%= @user_checked.followings.count %> followings</th>
                </tr>
                </thead>
                <tbody>
                <% @user_checked.followings.each do |uf| %>
                <tr>
                    <td scope="row">
                        <% if uf.avatar? %>
                            <%= image_tag uf.avatar.url, class: "img-thumbnail img-follow" %>  
                        <% else %>
                            <%= image_tag 'default_avatar.png', class: "img-thumbnail img-follow" %>  
                        <% end %>                        
                        <%= link_to(uf.name, user_path(uf.id)) %>
                    </td>                            
                </tr>
                <% end %>
                </tbody>
        </table>

        <br>

        <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th> <%= @user_checked.followers.count %> followers</th>
                </tr>
                </thead>
                <tbody>
                <% @user_checked.followers.each do |uf| %>
                <tr>
                    <td scope="row">
                        <% if uf.avatar? %>
                            <%= image_tag uf.avatar.url, class: "img-thumbnail img-follow" %>  
                        <% else %>
                            <%= image_tag "default_avatar.png", class: "img-thumbnail img-follow" %>
                        <% end %>
                        
                        <%= link_to(uf.name, user_path(uf.id)) %>
                    </td>                            
                </tr>
                <% end %>
                </tbody>
        </table>


    </div>

    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> <%= @commented_restaurants.uniq.count %>已評論餐廳</h3>
            </div>
            <div class="panel-body">
                    <% @commented_restaurants.uniq.each do |com_res| %>
                    <div class="my-restaurant">
                        <% if com_res.image? %>
                            <%= image_tag com_res.image.url, class: "img-responsive center-block" %>  
                        <% else %>
                            <%= image_tag "default_image.png", class: "img-responsive center-block" %>
                        <% end %>
                        
                        <%= link_to com_res.name, restaurant_path(com_res.id)%>
                    </div>
                    <% end %>
            </div>
        </div>            
    </div>
    
</div>